/* ========================================================================== */
/*
/* Opening Brace <?php
/*
/* ========================================================================== */

.punctuation {
  &.section {
    &.embedded {
      &.begin {
        &.php {
          color: @t-color--primary;
        }
      }
    }
  }
}

/* ========================================================================== */
/*
/* Source Code
/*
/* ========================================================================== */

.source.php {

   /**
    * 1 - Remove underline from namespace field.
    */

   .entity {
     &.name.type {
       text-decoration: none; /* 1 */
     }
   }

  /**
   * 1 - Targets ["] and ['] that wrap a string.
   */

  .punctuation {
    &.definition {
      &.string {
        color: @t-color--tertiary; /* 1 */
      }
    }
  }

  /**
   * 1 - Targets object methods being called like `decodeJson()` in `$this->decodeJson()`.
   */

  .meta {
    &.function-call {
      &.object {
        color: @t-color--primary; /* 1 */
      }
    }
  }

  .support {
    &.other {
      &.namespace {
        color: @t-color--secondary;
      }
    }
  }

  /* ------------------------------------------------------------------------ */
  /* Comments
  /* ------------------------------------------------------------------------ */

  /**
   * 1 - Targets phpdoc tags like `@param` and `@return`
   */

  .keyword {
    &.other {
      &.phpdoc {
        color: @t-comment; /* 1 */
        font-weight: bold; /* 1 */
      }
    }
  }

}
